[project]
	description = "Recognize noised captcha with only digit symbols using C#"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Oleg Levitsky (levabd)
[access "refs/for/refs/*"]
	read = group user/Oleg Levitsky (levabd)
	push = group user/Oleg Levitsky (levabd)
	label-Code-Review = -2..+2 group user/Oleg Levitsky (levabd)
	label-Verified = -1..+1 group user/Oleg Levitsky (levabd)
	rebase = group user/Oleg Levitsky (levabd)
	removeReviewer = group user/Oleg Levitsky (levabd)
	submit = group user/Oleg Levitsky (levabd)
[access "refs/heads/*"]
	read = group user/Oleg Levitsky (levabd)
	create = group user/Oleg Levitsky (levabd)
	push = +force group user/Oleg Levitsky (levabd)
	pushMerge = group user/Oleg Levitsky (levabd)
[access "refs/tags/*"]
	push = +force group user/Oleg Levitsky (levabd)
	pushTag = group user/Oleg Levitsky (levabd)
	pushSignedTag = group user/Oleg Levitsky (levabd)
