<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitSymbolRecogniser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DigitSymbolRecogniser.Properties.Settings>
            <setting name="KuwaharaCore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>148</value>
            </setting>
            <setting name="DigitWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SecondDigitWidth" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="NoiseObjectThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NormalDigitWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NormalDigitHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ImageVerticalBorder" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GaussSigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GaussKernelSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GaussThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ContourObjectThreshold" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ContoursRatio" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CorrelationWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CorrelationHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TemplatesFile" serializeAs="String">
                <value>digits.bin</value>
            </setting>
            <setting name="MinContourArea" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinContourLength" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinACF" serializeAs="String">
                <value>0.96</value>
            </setting>
            <setting name="MinICF" serializeAs="String">
                <value>0.76</value>
            </setting>
            <setting name="СannyThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AdaptiveThresholdBlockSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AdaptiveThresholdParameter" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MaxACFNormaDeviation0" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxACFNormaDeviation1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation3" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="MaxACFNormaDeviation5" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation7" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxACFNormaDeviation8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxACFNormaDeviation9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxAngle" serializeAs="String">
                <value>0.785</value>
            </setting>
            <setting name="MaxAngleForSeven" serializeAs="String">
                <value>0.0514</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation0" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation4" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation5" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation6" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation7" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation8" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxACFDescriptorDeviation9" serializeAs="String">
                <value>5</value>
            </setting>
        </DigitSymbolRecogniser.Properties.Settings>
    </applicationSettings>
</configuration>